<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet"  type="text/css" href="/src/app/sobre/sobre.page.scss">


<ion-content id="fundo">
  
    <div>
      <img src="/assets/WinnerLogo.png"  class="logo">
    </div>    

   
    <ion-card clas="card">
        <img src="/assets/alunos.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Winner</ion-card-subtitle>
          <ion-card-title>Sobre nós</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          A empresa Winner, foi fundada no mês de agosto de 2019, nas dependências da etec de guaianases. Com intuito criar o trabalho de conclusão de curso (TCC).
          A empresa desvolve aplicativos e websites de pequeno e médio porte, para celulares e computadores.
          </ion-card-content>
      </ion-card>
    


  
</ion-content>